<!doctype html>
<html>
    <head>
        <title>{{this.0.name}}</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0"/>
        <link rel="stylesheet" href="/resources/style.min.css">
    </head>
    <body>
        <div class="board">
            <a href="/"><h1>{{this.0.name}}</h1></a><br>
            <a href="/b/{{this.1.short_name}}"><h3>/{{this.1.short_name}}/</h3></a>
            <h3>{{this.1.long_name}}</h3>
            <h5>{{this.1.description}}</h5>
        </div>
        <h4>Create a new thread</h4>
        <form method="POST" action="">
            <label for="subject">Subject</label><br>
            <input name="subject" type="text" /><br>
            <label for="content">Content</label><br>
            <textarea name="content" cols="50" rows="10" type="text"></textarea><br>
            <button>New Thread</button>
        </form><br>
        {{#each this.2}}
            <li class="catalog">
                <a href="/b/{{this.board}}/{{this.post_number}}">{{this.subject}}</a><br>
                {{{this.content}}}
            </li><br>
        {{/each}}
    </body>
</html>
