<!doctype html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0"/>
    </head>
    <body>
        <form method="POST" action="">
            <label for="name">Name</label><br>
            <input name="name" type="text" /><br>
            <label for="email">Email</label><br>
            <input name="email" type="text" /><br>
            <label for="content">Content</label><br>
            <textarea name="content" rows="10" type="text"></textarea><br>
            <button name="action" type="submit">New Post</button>
        </form>
        <br><br>
        <h1>{{this.0.long_name}}</h1>
        <p>{{this.0.description}}</p>
        <li>
            <h3>{{this.1.post_number}} {{this.1.name}}</h3>
            <p>{{this.1.content}}</p>
        </li>

        {{#each this.2}}
            <li id="{{this.post_number}}">
                <h3><a href="#{{this.post_number}}">No.{{this.post_number}}</a> {{this.name}}</h3>
                <p>{{this.content}}</p>
            </li>
        {{/each}}
    </body>
</html>
